# Virtual Environment
venv/
env/
ENV/
.env
.venv
virtualenv/
env.bak/
venv.bak/
pythonenv*
.Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Large files (>100MB)
*.iso
*.tar
*.tar.gz
*.zip
*.7z
*.dmg
*.gz
*.rar
*.jar
*.war
*.ear
*.sar
*.lz
*.lzma
*.tlz
*.txz
*.xz
*.apk
*.log
*.sql
*.sqlite
*.sqlite3
*.db
*.hdf5
*.h5
*.npz
*.npy
*.pkl
*.pickle
*.mp4
*.avi
*.mov
*.wmv
*.mkv
*.flv
*.webm
*.gif
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.psd
*.ai
*.eps
*.pdf
*.exe
*.dll
*.so
*.dylib
*.bin
*.obj
*.o
*.a
*.lib
*.mdb
*.ldb
*.mdf
*.rptproj.user
*.sdf
*.docx
*.xlsx
*.pptx
*.doc
*.xls
*.ppt
*.accdb
*.ttf
*.otf
*.woff
*.woff2
*.eot
